<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.online.mapper.StudentMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.online.entity.Student">
        <id column="student_id" property="studentId" />
        <result column="num" property="num" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="department_id" property="departmentId" />
        <result column="major_id" property="majorId" />
        <result column="grade_id" property="gradeId" />
        <result column="class_id" property="classId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        student_id, num, name, sex, department_id, major_id, grade_id, class_id, create_time, update_time
    </sql>

</mapper>
