<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>E+在线登录注册</title>

    <!--图标样式-->
    <link rel="stylesheet" th:href="@{/slogin/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/slogin/css/style.css}">

</head>
<body>

<h2>学生登录注册 For E+</h2>
<div class="container right-panel-active" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>注册</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>第三方账号注册</span>
            <input type="text" placeholder="名称" id="name">
            <input type="text" placeholder="学号" id="yourNum">
            <input type="password" placeholder="密码" id="passwordNew">
            <select id="classId" >
                <option value="">请选择班级</option>
                <option th:each="class : ${classList}" th:value="${class.classId}">[[${class.className}]]</option>
            </select>
            <button onclick="doRegister()">注册</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>登录</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>第三方账号登录</span>
            <input type="text" placeholder="用户名" id="username" value="15408300325">
            <input type="password" placeholder="密码" id="password" value="123456">
            <a href="#">忘记密码？</a>
            <button onclick="doLogin()">登录</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>欢迎回来！</h1>
                <p>请您先登录的个人信息，进行操作。</p>
                <button class="ghost" id="signIn">登录</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>在线注册</h1>
                <p>请输入您的个人信息</p>
                <button class="ghost" id="signUp">注册</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/slogin/js/index.js}"></script>
<script th:src="@{/main/assets/js/jquery-1.11.1.min.js}"></script>
<script>
    function doLogin(){
        var num = $("#username").val();
        var password = $("#password").val();

        $.post("/login",
            {
                num: num,
                password: password
            },
            function(data,status){
                if(data.code == 0){
                    window.location.href="/student/main";
                }else{
                    alert(data.msg);
                }
            });
    }

    $("#yourNum").blur(function(){
        var num = $("#yourNum").val();
        $.get("/checkNum", { num: num},
            function(data){
                if (data.code != 0){
                    alert(data.msg);
                }
            });

        });


    function doRegister(){
        var num = $("#yourNum").val();
        var password = $("#passwordNew").val();
        var name = $("#name").val();
        var classId = $('#classId').val();
        if (num == "" || password == "" || name == "" || classId == ""){
            alert('请输入您的信息');
            return
        }

        $.post("/register",
            {
                num: num,
                password: password,
                name: name,
                classId: classId
            },
            function(data,status){
                if(data.code == 0){
                    alert(data.msg);
                    window.location.href="/";
                }else{
                    alert(data.msg);
                }
            });


    }
</script>

</body></html>