<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-student-edit">
        <div class="form-group">
            <label class="col-sm-3 control-label ">姓名：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="name" name="name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">邮箱：</label>
            <div class="col-sm-8">
                <input class="form-control" type="email" id="email" name="email"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">性别：</label>
            <div class="col-sm-8">
                <select id="sex" class="form-control m-b">
                    <option value="男" selected="selected">男</option>
                    <option value="女">女</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">手机：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="phone" name="phone"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">密码：</label>
            <div class="col-sm-8">
                <input class="form-control" type="password" id="password" name="password" />
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>
    $("#form-student-edit").validate({
        rules:{
            name:{
                required:true
            },
            email:{
                required:true
            },
            phone:{
                required:true
            },
            password:{
                required:true,
                minlength: 6,
                maxlength: 12
            }
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            add();
        }
    }

    function add() {
        var phone = $("input[name='phone']").val();
        var password = $("input[name='password']").val();
        var name = $("input[name='name']").val();
        var sex = $("#sex option:selected").val();
        var email = $("input[name='email']").val();
        $.ajax({
            cache : true,
            type : "POST",
            url : "/admin/teacher/teacherAdd",
            data : {
                "phone": phone,
                "name": name,
                "sex": sex,
                "email": email,
                "password": password
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.successCallback(data);
            }
        });
    }
</script>
</body>
</html>
