<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">
<div class="container-div ui-layout-center">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="user-form">
                <div class="select-list">
                    <ul>
                        <li>
                            题目名：<input type="text" name="name"/>
                        </li>
                        <li>
                            题目类型：<select name="type">
                            <option value="">所有</option>
                            <option value="单选题">单选题</option>
                            <option value="多选题">多选题</option>
                            <option value="判断">判断题</option>
                            <option value="简单">简答题</option>
                            <option value="填空">填空题</option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()">
                <i class="fa fa-plus"></i> 添加题目
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()">
                <i class="fa fa-remove"></i> 批量移除
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    var prefix = "/admin/paper/question";

    $(function() {
        $('body').layout({ west__size: 185 });
        queryUserList();
    });

    function queryUserList() {
        var options = {
            url: prefix + "/list/select",
            createUrl: "/admin/paper/findQuestion/add",
            removeUrl: prefix + "/remove",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "题库",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '题目ID ',
                    visible: false
                },
                {
                    field: 'title',
                    title: '标题 ',
                    sortable: true
                },
                {
                    field: 'type',
                    title: '题型 ',
                    sortable: true
                },
                {
                    field: 'optionA',
                    title: '选项A ',
                    visible: false
                },
                {
                    field: 'optionB',
                    title: '选项B ',
                    visible: false
                },
                {
                    field: 'optionC',
                    title: '选项C ',
                    visible: false
                },
                {
                    field: 'optionD',
                    title: '选项D ',
                    visible: false
                },
                {
                    field: 'optionE',
                    title: '选项E ',
                    visible: false
                },
                {
                    field: 'answer',
                    title: '答案 '
                },
                {
                    field: 'createTime',
                    title: '创建时间 ',
                    visible: false
                },
                {
                    title: '操作 ',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>移除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }
</script>
</body>
</html>